* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

select {
    padding-right: 6rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_nav {
    width: 50px;
    height: 50px;
}

.play {
    padding: 0 2rem;
}

#site_main {
    background-color: aquamarine;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 5rem 0;
}

.container_80 {
    width: 80%;
    margin: 0 auto;
}

.cells {
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.violet {
    background-color: violet;
    color: white;
}

.x10 {
    width: calc(100% / 10);
}

.x9 {
    width: calc(100% / 9);
}

.x7 {
    width: calc(100% / 7);
}

.text {
    padding: 1.5rem;
}

.text>span {
    text-decoration: underline;
    color: blue;
}

.d-none {
    display: none;
}